.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    padding-top: 20px;
    padding-left: 30px;
}

.container a{
    
    color: rgb(183, 183, 183);
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}

.container a:hover{
    color: rgb(255, 255, 255);
}