.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 400px;
    padding-top: 20px;
    padding-left: 30px;
}

.container a{
    
    color: white;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
}