.container{
    display: flex;
    flex-direction: column;
    height: 80vh;
    background-color: rgb(58, 58, 58);
    margin-left: 310px;
    align-items: center;
}

.products{
    display: flex;
    gap: 20px;
    
    background-color: black;
}

p{
    
    color: white;
    font-size: 30px;
}