.container{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    padding-left: 310px;
    background-color: black;
    
}

.container img{
    width: 100%;
    object-fit: cover;
}

