.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    background-color: rgb(0, 0, 0);
    position: relative;
}



.image_container img{
    height: 100%;
    width: 100%;
    opacity: .7;
    position: absolute;
    object-fit: cover;
}

.image_container img:hover{
    opacity: 1;
}

.image_container h2{
    color: white;
    position: absolute;
    
}